SERVICE_NAME=backstage-sample
GITHUB_REPOSITORY_URL=https://github.com/maniizu3110/backstage-sample
PORT=80
BUILD_PATH=./go
DOCKERFILE_NAME=Dockerfile
ENV=dev
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID="******"
AWS_SECRET_ACCESS_KEY="******"